<!DOCTYPE html>
<html lang="en">
<head>
<title>:: 현재 위치로 검색하기 ::</title>

<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=3d08f81ad16de468a964885317e37ff8">
</script>
    <script type="text/javascript">

 document.addEventListener("DOMContentLoaded", function() {
        function getLocation(position) {

            var latitud = position.coords.latitude;
            var longitude = position.coords.longitude;

            var pass = String(latitud) + "/" + String(longitude);
            document.frm.form_name.value = pass;

            var mapContainer = document.getElementById("map")    // 지도를 표시할 DIV
            var mapOption = {
                  center : new daum.maps.LatLng(latitud, longitude)    // 지도의 중심좌표
                , level : 3    // 지도의 확대레벨
            };

            // 지도를 생성
            var map = new daum.maps.Map(mapContainer, mapOption);

            // 마커가 표시될 위치
            var markerPosition = new daum.maps.LatLng(latitud, longitude);

            // 마커를 생성
            var marker = new daum.maps.Marker({ position:markerPosition });

            marker.setMap(map);
        }

        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(getLocation, function(error) {
                console.log(error.message);
            });
        } else {
            console.log("Geolocation을 지원하지 않는 브라우저 입니다.");
        }
    });

</script>
<link href="static/css/styless.css?ver=14" rel="stylesheet" />
</head>
<body>

    <h1 style="text-align:center"> 명산 </h1>
    <div id="map" style="width:500px;height:500px;"></div>

    <form method="post" name="frm" style="float:left;">
        <input type="hidden" name="form_name" value="">
        <input type="button" name="dd" value="주변 명산 리스트 검색" onclick="search_click();search_click2()" style="width:150pt;height:50pt;">
    </form>
    <p class="letter" style="float: left;margin:6pt;">
        <p style="float: left;"> 탐색반경 : </p>
        <p id="kmdata" style="float: left;"> {{getdata}} </p>
        <p style="float: left;margin-right:8pt;">km</p>
    </p>

    <form method="post" name = "pl">
        <input id = "plus" type="hidden" name="form_name2" value="0">
        <input type="hidden" name="plus_data">
        <input type="button"  name="pls" value="+" onclick="plus_click();">
    </form>

    <form method="post" name = "mi">
        <input id = "minus" type="hidden" name="form_name3" value="0">
        <input type="hidden" name="minus_data">
        <input type="button" name="min" value="-" onclick="minus_click();">
    </form>
  	<!---기본 메뉴--->
    <div style="float:left; margin-top:-10pt;">
    <ul class="board">
	  	<li class="fl tc w500 title t_line">산 이름</li>
	  	<li class="fl tc w120 title t_line">거리</li>
    </ul>
    {% for mountain, distance in getlist %}
    <!--- 리스트 --->
    <ul class="board">
	  	<li class="fl tc w500 list t_line lt_line">{{mountain}}</li>
	  	<li class="fl tc w120 list t_line lt_line">{{distance}}km</li>
    </ul>
    {% endfor %}
        </div>
    <script type="text/javascript">
        var count = 0;
        function search_click(){
            document.charset = "euc-kr";
            document.frm.submit();

        }
        function plus_click(){
            count += 1;
            var value = document.getElementById("kmdata").innerText
            var val = parseFloat(value);
            val += 5*count;
            document.getElementById("plus").value = val;
            document.pl.submit();
        }
        function minus_click(){
            if(document.getElementById("kmdata").innerText < 5){
                return;
             }
            count -= 1;
            var value = document.getElementById("kmdata").innerText
            var val = parseFloat(value);
            val += 5*count;
            document.getElementById("minus").value = val;
            document.mi.submit();
        }
        function click(){
            alert(2);
        }
    </script>
</body>
</html>